@import url( 'https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');

.icons {
  font-size: 300%;
  margin: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
@media screen and (max-width: 992px) {
  body {
    font-size: .9rem;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: .8rem;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: .7rem;
  }
}

.character{
width:40%;
height:70%;
position:absolute;
bottom:0px;
top:655px;
left:11.5%;
transform: translate3d( 0 , -60% , 0) ;
animation: levitate s ease-in-out infinite alternate ;
} 

@keyframes levitate	{
		 
  100%	{
  transform: translate3d( 0 , -50% , 0) ;
  }
}

.tea{

  position:absolute;
  top:325px;
  left:12%;
}

.dodecahedron {

  position:absolute;
  margin-left: 405px;
  margin-top:90px;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
transform: scale3d(0.5, 0.5, 0.5);
animation: rotate 12s linear infinite alternate-reverse;
padding-top:0px;
z-index:1;
}
.dodecahedron .side {
position: absolute;
left: 0;
width: 141.7px;
height: 142.2px;
border-radius:10px;
background-size: 100% 100%;
background-repeat: no-repeat;
-webkit-transform-origin: 50% 100%;
transform-origin:50% 100%;
}

.dodecahedron .side:nth-child(1) {
    background-image: url(./images/react.png);
    width:143.75px;
    height:143.75px;
transform: translateZ(112px);
}
.dodecahedron .side:nth-child(2) {
  background-image: url(./images/js.png);
  width:143.75px;
  height:143.75px;
  transform: translateZ(112px) translate(35px,-114px) rotate(36deg) rotateX(64deg);
}
.dodecahedron .side:nth-child(3) {
  background-image: url(./images/jquery.png);
  width:143.75px;
  height:143.75px;
   transform:  translateZ(112px) translate(59px,-44px) rotate(108deg) rotateX(64deg)
}
.dodecahedron .side:nth-child(4) {
  background-image: url(./images/css.png);
  width:143.75px;
    height:143.75px;
   transform: translateZ(112px) translate(-37px,-114px) rotate(-36deg) rotateX(64deg)
}
.dodecahedron .side:nth-child(5) {
  background-image: url(./images/html.png);
  width:143.75px;
  height:143.75px;
  transform: translateZ(112px) translate(-60px,-44px) rotate(-108deg) rotateX(64deg)
}
.dodecahedron .side:nth-child(6) {    
  background-image: url(./images/express.png);
  width:143.75px;
  height:143.75px;
  transform: translateZ(112px) rotate(180deg) rotateX(64deg);
}
.dodecahedron .side:nth-child(7) {
  background-image: url(./images/git.png);
  width:143.75px;
    height:143.75px;
transform: translateZ(-94px) translateY(-127px) rotate(180deg);
}
.dodecahedron .side:nth-child(8) {
  background-image: url(./images/sass.png);
  width:143.75px;
  height:143.75px;
  transform: translateZ(-94px) translateY(-138px) translateX(4px) rotate(180deg) translate(41px,-125px) rotate(36deg) rotateX(-64deg);
}
.dodecahedron .side:nth-child(9) {    
  background-image: url(./images/python.png);
  width:143.75px;
    height:143.75px;
transform: translateZ(-94px) translateY(-131px) rotate(180deg) translateX(-5px) translate(66px,-48px) rotate(108deg) rotateX(-64deg);
}
.dodecahedron .side:nth-child(10) {
  background-image: url(./images/bootstrap.png);
  width:143.75px;
  height:143.75px;

transform: translateZ(-94px) translateY(-143px) rotate(180deg) translateX(5px) translate(-41px,-125px) rotate(-36deg) rotateX(-64deg);
}
.dodecahedron .side:nth-child(11) {
  background-image: url(./images/node.png);
  width:143.75px;
    height:143.75px;
transform: translateZ(-94px) translateY(-131px) translateX(-8px) rotate(180deg) translate(-66px,-48px) rotate(-108deg) rotateX(-64deg);
}
.dodecahedron .side:nth-child(12) {
  background-image: url(./images/sql.png);
  width:143.75px;
  height:143.75px;
  transform: translateZ(-94px) translateY(-126px) rotateX(-64deg);
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(1020deg);
            transform: rotateX(1020deg);
  }
}

.about{
  font-family: 'Quattrocento', serif;
  font-size:50px;
}

@import url(https://fonts.googleapis.com/css?family=Share+Tech);
body {
  background-color: "#31355b";
}

h1 {
  font-family: 'Quattrocento', serif;
  animation: pulse .9s infinite;
  color: #006400;
}

.block {
  width: 50px;
  height: 50px;
  background-color:"#31355b";
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.cursor:after {
  content: "_";
  opacity: 0;
  animation: cursor 1s infinite;
}

.sign:before {
  content: "> ";
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#loading-alpha-div, .img-div {
  display: none;
}

.desk {
  margin: 0;
  animation: pulse .75s infinite;
} 

#loadingMessage2 {
  display: none;
}

.sub-item {
  margin-top: 20px;
  margin-left: 40px;
}

.inline {
  display: inline;
  margin-left: 10px;
}
body{

  text-align: center;
  
}

.wrapper {
  font-family: 'Quattrocento', serif;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  font-size: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

p {
  font-family: 'Quattrocento', serif;
  font-size: 19px;
  margin-top:45px;
  color: white;

}

.letter {
  font-family: sans-serif;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: 0 0;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: #eee;
}
.letter:before {
  font-family: 'Quattrocento', serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-break: break-all;
  background-color: #1d1f20;
}

.letter:nth-child(1):before {
  content: "0253716489";
  margin-top: -216px;
  -webkit-animation-name: letter1;
          animation-name: letter1;
  -webkit-animation-duration: 2.052s;
          animation-duration: 2.052s;
  -webkit-animation-delay: 0.43s;
          animation-delay: 0.43s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter1 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter1 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(2):before {
  content: "2458063971";
  margin-top: -24px;
  -webkit-animation-name: letter2;
          animation-name: letter2;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0.01s;
          animation-delay: 0.01s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter2 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter2 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(3):before {
  content: "0673219485";
  margin-top: -96px;
  -webkit-animation-name: letter3;
          animation-name: letter3;
  -webkit-animation-duration: 0.544s;
          animation-duration: 0.544s;
  -webkit-animation-delay: 0.83s;
          animation-delay: 0.83s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter3 {
  from {
    margin-top: -96px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter3 {
  from {
    margin-top: -96px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(4):before {
  content: "8637915420";
  margin-top: -216px;
  -webkit-animation-name: letter4;
          animation-name: letter4;
  -webkit-animation-duration: 1.512s;
          animation-duration: 1.512s;
  -webkit-animation-delay: 0.58s;
          animation-delay: 0.58s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter4 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter4 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(5):before {
  content: "7436821509";
  margin-top: 0px;
  -webkit-animation-name: letter5;
          animation-name: letter5;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 0.58s;
          animation-delay: 0.58s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter5 {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter5 {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(6):before {
  content: "4198726530";
  margin-top: -120px;
  -webkit-animation-name: letter6;
          animation-name: letter6;
  -webkit-animation-duration: 0.73333s;
          animation-duration: 0.73333s;
  -webkit-animation-delay: 0.78s;
          animation-delay: 0.78s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter6 {
  from {
    margin-top: -120px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter6 {
  from {
    margin-top: -120px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(7):before {
  content: "0254187369";
  margin-top: -168px;
  -webkit-animation-name: letter7;
          animation-name: letter7;
  -webkit-animation-duration: 0.525s;
          animation-duration: 0.525s;
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter7 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter7 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(8):before {
  content: "7180562439";
  margin-top: -216px;
  -webkit-animation-name: letter8;
          animation-name: letter8;
  -webkit-animation-duration: 2.7s;
          animation-duration: 2.7s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter8 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter8 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(9):before {
  content: "9647230158";
  margin-top: -168px;
  -webkit-animation-name: letter9;
          animation-name: letter9;
  -webkit-animation-duration: 1.26s;
          animation-duration: 1.26s;
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter9 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter9 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(10):before {
  content: "8642307519";
  margin-top: -216px;
  -webkit-animation-name: letter10;
          animation-name: letter10;
  -webkit-animation-duration: 2.016s;
          animation-duration: 2.016s;
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter10 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter10 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(11):before {
  content: "3109846572";
  margin-top: -24px;
  -webkit-animation-name: letter11;
          animation-name: letter11;
  -webkit-animation-duration: 1.18s;
          animation-duration: 1.18s;
  -webkit-animation-delay: 0.41s;
          animation-delay: 0.41s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter11 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter11 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(12):before {
  content: "0241398567";
  margin-top: 0px;
  -webkit-animation-name: letter12;
          animation-name: letter12;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 0.69s;
          animation-delay: 0.69s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter12 {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter12 {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(13):before {
  content: "2461830957";
  margin-top: -168px;
  -webkit-animation-name: letter13;
          animation-name: letter13;
  -webkit-animation-duration: 3.15s;
          animation-duration: 3.15s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter13 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter13 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(14):before {
  content: "2975180634";
  margin-top: -48px;
  -webkit-animation-name: letter14;
          animation-name: letter14;
  -webkit-animation-duration: 2.32s;
          animation-duration: 2.32s;
  -webkit-animation-delay: 0.13s;
          animation-delay: 0.13s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter14 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter14 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(15):before {
  content: "1039756824";
  margin-top: -216px;
  -webkit-animation-name: letter15;
          animation-name: letter15;
  -webkit-animation-duration: 3.348s;
          animation-duration: 3.348s;
  -webkit-animation-delay: 0.07s;
          animation-delay: 0.07s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter15 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter15 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(16):before {
  content: "7908514362";
  margin-top: -24px;
  -webkit-animation-name: letter16;
          animation-name: letter16;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter16 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter16 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}
